<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cz.tyckouni.poopio">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_poop_launcher_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_poop_launcher_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.OverviewActivity"
            android:label="@string/title_activity_overview" />
        <activity
            android:name=".ui.activities.PoopDetailActivity"
            android:label="@string/poopdetail_activity_label"
            android:parentActivityName=".ui.activities.OverviewActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.OverviewActivity" />
        </activity>
        <activity
            android:name=".ui.activities.CreatePoopActivity"
            android:label="@string/createpoop_activity_label"
            android:parentActivityName=".ui.activities.OverviewActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.OverviewActivity" />
        </activity>
        <activity
            android:name=".ui.activities.CreditsActivity"
            android:label="@string/credits_activity_label"
            android:parentActivityName=".ui.activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.MainActivity" />
        </activity>
        <activity
            android:name=".ui.activities.PoopCreationActivity"
            android:label="@string/title_activity_poop_creation"
            android:parentActivityName=".ui.activities.OverviewActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.OverviewActivity" />
        </activity>
    </application>

</manifest>